In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sea

In [2]:
df=pd.read_csv('User_data.csv')
df.sample(10)

      User ID  Gender  Age  EstimatedSalary  Purchased
254  15724161  Female   50            44000          0
225  15622171    Male   37            53000          0
291  15596522    Male   49            89000          1
296  15673539    Male   42            73000          1
130  15675185    Male   31            58000          0
374  15793890  Female   37            80000          0
276  15734312    Male   38            71000          0
341  15776844    Male   35            75000          0
357  15671387  Female   41            72000          0
345  15716781  Female   41            63000          0

In [9]:
# we are predicting the user will purchase the company's newly launched product or not

In [10]:
# check if there are null values
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [11]:
# check all info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [13]:
df.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [15]:
# get the count of label 0 & 1
df['Purchased'].value_counts()

Purchased
0    257
1    143
Name: count, dtype: int64

In [17]:
#divide data into dependent(y) and independent(x)
x = df.iloc[:,[2,3]].values
y = df.iloc[:,4].values

In [92]:
# split the data into train and test set
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=42)

In [93]:
x_train

array([[    57, 122000],
       [    39,  71000],
       [    47,  25000],
       [    24,  19000],
       [    36,  50000],
       [    32, 150000],
       [    48,  29000],
       [    30, 107000],
       [    60,  34000],
       [    38,  61000],
       [    33,  31000],
       [    39,  71000],
       [    55,  39000],
       [    49,  39000],
       [    43, 112000],
       [    27,  20000],
       [    26,  17000],
       [    37,  93000],
       [    42,  54000],
       [    35,  61000],
       [    29,  75000],
       [    38,  80000],
       [    45,  26000],
       [    54, 108000],
       [    46,  23000],
       [    23,  28000],
       [    37,  75000],
       [    42,  65000],
       [    35,  71000],
       [    51, 146000],
       [    39,  96000],
       [    24,  89000],
       [    58,  95000],
       [    25,  22000],
       [    41,  59000],
       [    28,  89000],
       [    42,  80000],
       [    42, 108000],
       [    46,  96000],
       [    47, 113000],
       [    33,  28000],
       [    19,  25000],
       [    49,  89000],
       [    31,  15000],
       [    30,  79000],
       [    48, 141000],
       [    32, 117000],
       [    37,  71000],
       [    18,  86000],
       [    42,  79000],
       [    27,  84000],
       [    40,  65000],
       [    57,  74000],
       [    26,  15000],
       [    26,  80000],
       [    29,  43000],
       [    33, 149000],
       [    39,  42000],
       [    54, 104000],
       [    36,  33000],
       [    46,  32000],
       [    40, 142000],
       [    37,  62000],
       [    29, 148000],
       [    37,  57000],
       [    35,  50000],
       [    42,  53000],
       [    35,  38000],
       [    41,  30000],
       [    40,  72000],
       [    26,  15000],
       [    31,  68000],
       [    35,  53000],
       [    35,  25000],
       [    30,  89000],
       [    41,  72000],
       [    28, 123000],
       [    46,  82000],
       [    22,  63000],
       [    45,  22000],
       [    30,  49000],
       [    34,  25000],
       [    40,  75000],
       [    32, 117000],
       [    23,  82000],
       [    26,  80000],
       [    48, 131000],
       [    59, 143000],
       [    35,  55000],
       [    34,  43000],
       [    39,  61000],
       [    27,  96000],
       [    60,  83000],
       [    24,  55000],
       [    58, 144000],
       [    53, 104000],
       [    35,  79000],
       [    36,  99000],
       [    57,  60000],
       [    37, 137000],
       [    33,  43000],
       [    41,  71000],
       [    52,  21000],
       [    52, 150000],
       [    37,  70000],
       [    26,  84000],
       [    26,  72000],
       [    26,  52000],
       [    41,  60000],
       [    31,  66000],
       [    37, 144000],
       [    38,  61000],
       [    31,  34000],
       [    42,  75000],
       [    46, 117000],
       [    36,  52000],
       [    38,  71000],
       [    49,  88000],
       [    57,  33000],
       [    48, 138000],
       [    47,  50000],
       [    33,  69000],
       [    37, 146000],
       [    20,  82000],
       [    40,  47000],
       [    35,  22000],
       [    20,  36000],
       [    45,  45000],
       [    26,  43000],
       [    58, 101000],
       [    40,  57000],
       [    38, 112000],
       [    37,  80000],
       [    49,  28000],
       [    36,  75000],
       [    41,  72000],
       [    35,  60000],
       [    43, 129000],
       [    41,  87000],
       [    38, 113000],
       [    58,  23000],
       [    26,  32000],
       [    32,  18000],
       [    41,  52000],
       [    31,  18000],
       [    35,  88000],
       [    48,  35000],
       [    27,  89000],
       [    35,  97000],
       [    42,  73000],
       [    21,  68000],
       [    41,  72000],
       [    33,  60000],
       [    39, 134000],
       [    28,  84000],
       [    46,  88000],
       [    24,  58000],
       [    31, 118000],
       [    50,  88000],
       [    20,  82000],
       [    32, 135000],
       [    20,  86000],
       [    35,  27000],
       [    29,  43000],
       [    21,  88000],
       [    35,  59000],
       [    45,  32000],
       [    60,  42000],
       [    35,  91000],
       [    35,  44000],
       [    18,  44000],
       [    42, 149000],
       [    45,  79000],
       [    40,  60000],
       [    24,  23000],
       [    33,  51000],
       [    42,  70000],
       [    55, 130000],
       [    50,  44000],
       [    48, 119000],
       [    19,  76000],
       [    41,  72000],
       [    40,  71000],
       [    27,  88000],
       [    36, 126000],
       [    35,  75000],
       [    35,  58000],
       [    34, 115000],
       [    35,  73000],
       [    60, 108000],
       [    25,  87000],
       [    27,  54000],
       [    21,  16000],
       [    37,  74000],
       [    35,  39000],
       [    54,  70000],
       [    47,  30000],
       [    38,  50000],
       [    35, 147000],
       [    35,  77000],
       [    41,  79000],
       [    37,  33000],
       [    60,  46000],
       [    28,  59000],
       [    23,  66000],
       [    23,  63000],
       [    30,  17000],
       [    25,  33000],
       [    59,  83000],
       [    58,  38000],
       [    18,  82000],
       [    46,  59000],
       [    27,  17000],
       [    58,  47000],
       [    48,  30000],
       [    49,  65000],
       [    50,  36000],
       [    53,  72000],
       [    40,  57000],
       [    52, 114000],
       [    59,  42000],
       [    36,  63000],
       [    42, 104000],
       [    37,  52000],
       [    48,  33000],
       [    59,  29000],
       [    37,  79000],
       [    40,  61000],
       [    49,  74000],
       [    25,  90000],
       [    30,  15000],
       [    40,  78000],
       [    24,  84000],
       [    38,  50000],
       [    45, 131000],
       [    21,  72000],
       [    35,  23000],
       [    35,  20000],
       [    31,  89000],
       [    30,  80000],
       [    47,  47000],
       [    27,  90000],
       [    35,  72000],
       [    30, 116000],
       [    39, 122000],
       [    29,  83000],
       [    41,  63000],
       [    48,  90000],
       [    38,  59000],
       [    32,  18000],
       [    39,  75000],
       [    26,  81000],
       [    39, 106000],
       [    22,  55000],
       [    36, 118000],
       [    60,  42000],
       [    28,  55000],
       [    51, 134000],
       [    49,  28000],
       [    36,  60000],
       [    56, 104000],
       [    27,  58000],
       [    24,  32000],
       [    34,  72000],
       [    28,  32000],
       [    50,  20000],
       [    33,  41000],
       [    29,  47000],
       [    22,  18000],
       [    30, 135000],
       [    47, 105000],
       [    46,  79000],
       [    48, 134000],
       [    47,  49000],
       [    49, 141000],
       [    32, 100000],
       [    38,  71000],
       [    19,  26000],
       [    37,  77000],
       [    47,  51000],
       [    40,  57000],
       [    36, 125000],
       [    20,  74000],
       [    31,  58000],
       [    41,  45000],
       [    42,  54000],
       [    28,  37000],
       [    39,  73000],
       [    28,  85000],
       [    38,  51000],
       [    47,  43000],
       [    37,  72000],
       [    49,  36000],
       [    45,  22000],
       [    35,  72000],
       [    24,  27000],
       [    26,  35000],
       [    43, 133000],
       [    39,  77000],
       [    32,  86000]], dtype=int64)

In [94]:
x_test

array([[    46,  22000],
       [    59,  88000],
       [    28,  44000],
       [    48,  96000],
       [    29,  28000],
       [    30,  62000],
       [    47, 107000],
       [    29,  83000],
       [    40,  75000],
       [    42,  65000],
       [    35,  65000],
       [    53,  34000],
       [    23,  48000],
       [    20,  23000],
       [    30,  87000],
       [    35, 108000],
       [    52,  38000],
       [    46,  74000],
       [    39,  42000],
       [    56,  60000],
       [    22,  27000],
       [    29,  80000],
       [    47,  23000],
       [    59,  76000],
       [    19,  19000],
       [    51,  23000],
       [    42,  80000],
       [    37,  53000],
       [    55, 125000],
       [    19,  21000],
       [    46,  41000],
       [    19,  70000],
       [    36, 144000],
       [    28,  79000],
       [    40, 107000],
       [    35,  75000],
       [    37,  55000],
       [    38,  65000],
       [    26,  30000],
       [    18,  68000],
       [    48,  33000],
       [    24,  55000],
       [    18,  52000],
       [    47,  20000],
       [    20,  49000],
       [    44, 139000],
       [    29,  61000],
       [    31,  71000],
       [    48,  41000],
       [    34,  43000],
       [    25,  79000],
       [    53,  82000],
       [    38,  55000],
       [    25,  80000],
       [    37,  80000],
       [    27,  31000],
       [    60, 102000],
       [    26, 118000],
       [    31,  74000],
       [    31,  76000],
       [    41,  51000],
       [    35,  57000],
       [    52,  90000],
       [    28,  87000],
       [    28,  59000],
       [    27, 137000],
       [    42,  90000],
       [    47, 144000],
       [    39,  59000],
       [    33, 113000],
       [    52, 138000],
       [    19,  85000],
       [    27,  58000],
       [    23,  20000],
       [    47,  34000],
       [    35,  50000],
       [    56, 133000],
       [    54,  26000],
       [    35,  47000],
       [    37,  78000],
       [    27,  57000],
       [    46,  28000],
       [    39, 134000],
       [    44,  39000],
       [    57,  26000],
       [    32, 120000],
       [    41,  52000],
       [    48,  74000],
       [    26,  86000],
       [    22,  81000],
       [    49,  86000],
       [    36,  54000],
       [    40,  59000],
       [    41,  80000],
       [    26,  16000],
       [    39,  79000],
       [    59, 130000],
       [    42,  64000],
       [    53, 143000],
       [    34, 112000]], dtype=int64)

In [95]:
from sklearn.preprocessing import StandardScaler

In [96]:
SC=StandardScaler()

In [97]:
x_train=SC.fit_transform(x_train)

In [98]:
x_test=SC.fit_transform(x_test)

In [99]:
x_test

array([[ 0.75872215, -1.41078892],
       [ 1.9109871 ,  0.5590031 ],
       [-0.83672162, -0.75419158],
       [ 0.93599368,  0.79776576],
       [-0.74808586, -1.23171691],
       [-0.65945009, -0.21697557],
       [ 0.84735791,  1.12606443],
       [-0.74808586,  0.40977643],
       [ 0.22690756,  0.17101376],
       [ 0.40417909, -0.12743957],
       [-0.21627127, -0.12743957],
       [ 1.37917251, -1.05264491],
       [-1.27990045, -0.63481024],
       [-1.54580774, -1.38094358],
       [-0.65945009,  0.52915776],
       [-0.21627127,  1.15590977],
       [ 1.29053674, -0.93326358],
       [ 0.75872215,  0.14116843],
       [ 0.13827179, -0.81388224],
       [ 1.6450798 , -0.27666624],
       [-1.36853621, -1.26156225],
       [-0.74808586,  0.32024043],
       [ 0.84735791, -1.38094358],
       [ 1.9109871 ,  0.20085909],
       [-1.63444351, -1.50032492],
       [ 1.20190098, -1.38094358],
       [ 0.40417909,  0.32024043],
       [-0.03899974, -0.48558358],
       [ 1.55644404,  1.66328044],
       [-1.63444351, -1.44063425],
       [ 0.75872215, -0.84372758],
       [-1.63444351,  0.02178709],
       [-0.1276355 ,  2.23034177],
       [-0.83672162,  0.2903951 ],
       [ 0.22690756,  1.12606443],
       [-0.21627127,  0.17101376],
       [-0.03899974, -0.42589291],
       [ 0.04963603, -0.12743957],
       [-1.01399315, -1.17202625],
       [-1.72307927, -0.03790357],
       [ 0.93599368, -1.08249025],
       [-1.19126468, -0.42589291],
       [-1.72307927, -0.51542891],
       [ 0.84735791, -1.47047958],
       [-1.54580774, -0.60496491],
       [ 0.58145062,  2.08111511],
       [-0.74808586, -0.24682091],
       [-0.57081433,  0.05163243],
       [ 0.93599368, -0.84372758],
       [-0.30490703, -0.78403691],
       [-1.10262892,  0.2903951 ],
       [ 1.37917251,  0.3799311 ],
       [ 0.04963603, -0.42589291],
       [-1.10262892,  0.32024043],
       [-0.03899974,  0.32024043],
       [-0.92535739, -1.14218091],
       [ 1.99962286,  0.97683777],
       [-1.01399315,  1.4543631 ],
       [-0.57081433,  0.14116843],
       [-0.57081433,  0.20085909],
       [ 0.31554332, -0.54527424],
       [-0.21627127, -0.36620224],
       [ 1.29053674,  0.61869376],
       [-0.83672162,  0.52915776],
       [-0.83672162, -0.30651158],
       [-0.92535739,  2.02142444],
       [ 0.40417909,  0.61869376],
       [ 0.84735791,  2.23034177],
       [ 0.13827179, -0.30651158],
       [-0.3935428 ,  1.30513643],
       [ 1.29053674,  2.05126977],
       [-1.63444351,  0.4694671 ],
       [-0.92535739, -0.33635691],
       [-1.27990045, -1.47047958],
       [ 0.84735791, -1.05264491],
       [-0.21627127, -0.57511958],
       [ 1.6450798 ,  1.9020431 ],
       [ 1.46780827, -1.29140758],
       [-0.21627127, -0.66465558],
       [-0.03899974,  0.26054976],
       [-0.92535739, -0.36620224],
       [ 0.75872215, -1.23171691],
       [ 0.13827179,  1.93188844],
       [ 0.58145062, -0.90341825],
       [ 1.73371557, -1.29140758],
       [-0.48217856,  1.51405377],
       [ 0.31554332, -0.51542891],
       [ 0.93599368,  0.14116843],
       [-1.01399315,  0.49931243],
       [-1.36853621,  0.35008576],
       [ 1.02462945,  0.49931243],
       [-0.1276355 , -0.45573824],
       [ 0.22690756, -0.30651158],
       [ 0.31554332,  0.32024043],
       [-1.01399315, -1.58986092],
       [ 0.13827179,  0.2903951 ],
       [ 1.9109871 ,  1.8125071 ],
       [ 0.40417909, -0.15728491],
       [ 1.37917251,  2.20049644],
       [-0.30490703,  1.2752911 ]])

In [100]:
type(x_train)

numpy.ndarray

In [101]:
x_train=pd.DataFrame(x_train,columns=['Age','Salary'])
x_test= pd.DataFrame(x_test,columns=['Age','Salary'])

In [102]:
x_train

          Age    Salary
0    1.892589  1.521894
1    0.125038  0.032132
2    0.910616 -1.311575
3   -1.347922 -1.486841
4   -0.169554 -0.581299
..        ...       ...
295 -1.347922 -1.253153
296 -1.151527 -1.019465
297  0.517827  1.843215
298  0.125038  0.207398
299 -0.562343  0.470297

[300 rows x 2 columns]

In [103]:
# training logistic reression model 
from sklearn.linear_model import LogisticRegression

In [104]:
LR=LogisticRegression()

In [105]:
LR.fit(x_train,y_train)

LogisticRegression()

In [106]:
y_pred=LR.predict(x_test)

In [107]:
y_pred

array([0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0], dtype=int64)

In [108]:
y_test

array([0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1], dtype=int64)

In [109]:
#Confusion matrix
#it is a matrix that summarizes the performance of a machine learning 
from sklearn.metrics import confusion_matrix
CM=confusion_matrix(y_pred,y_test)

In [110]:
CM

array([[61, 12],
       [ 2, 25]], dtype=int64)

In [111]:
#performance measure => accuracy
from sklearn.metrics import accuracy_score,classification_report
AS= accuracy_score(y_pred,y_test)
print('The accuracy of our logistic regression model is :',AS)

The accuracy of our logistic regression model is : 0.86

In [112]:
# classification report 
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

           0       0.97      0.84      0.90        73
           1       0.68      0.93      0.78        27

    accuracy                           0.86       100
   macro avg       0.82      0.88      0.84       100
weighted avg       0.89      0.86      0.87       100

In [115]:
pip install -U textblob

Note: you may need to restart the kernel to use updated packages.

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000001B868167E50>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/textblob/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000001B868184F10>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/textblob/
WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000001B8681796D0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/textblob/
WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000001B8681740D0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/textblob/
WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000001B868177A90>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/textblob/
ERROR: Could not find a version that satisfies the requirement textblob (from versions: none)
ERROR: No matching distribution found for textblob